{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock title %}

{% block content %}
<form method="post" class="form-group">
    {% csrf_token %}
    <div class="row">
        <div class="col-5">
            {{ form.username|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            {{ form.email|as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            {{ form.password1|as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            {{ form.password2|as_crispy_field }}
        </div>
    </div>
    <button type="submit" name="create" class="btn btn-success">Register</button>
</form>
{% endblock content %}