.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #708090;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 25px;
}

.sidenav a:hover{
    color: white;
}

.main{
    margin-left: 160px;
    padding: 0;
}
.item_links{
    padding: 6px 8px 6px 0;
    text-decoration: none;
    color: black;
    display: block;
}

.item_links:hover{
    color: #0D8C3D;
}

.categories{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #708090;
    overflow-x: hidden;
    padding-top: 20px;
}

.categories a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 19px;
}

.categories a:hover{
    color: white;
}

.categories h2 {
    padding: 6px 8px 6px 16px;
}

.show_item img{
    height: 70%;
    width: auto;
}

.main_show_items img{
    height: 300px;
    width: auto;
}


.align_text{
    height:100px;
    line-height:100px;
}
.align_text body{
    vertical-align:middle;
}

#span-h1{
    font-size: 32pt;
}

#span-h3{
    font-size: 22pt;
}

#span-small-font{
    font-size: 13pt;
    color: grey;
}

.basket img{
    height: 150px;
    width: auto;
}

.basket_buttons{
    color: white;
    padding-bottom: 8px;
}