{% extends "shop/base.html" %}
{% block title %}
    Admin page
{% endblock title %}

{% block content %}
    <h3><a class="item_links" href="{% url "shop-show-groups" %}">Groups</a></h3>
{% endblock content %}