{% extends "shop/base.html" %}
{% block title %}
    Basket
{% endblock title %}

{% block content %}
    <div class="basket">
    {% if items %}
        {% for item in items %}
            <img src="/media/{{ item.image }}" alt="{{ item.name }}" class="img-thumbnail"><br>
            <a class="item_links" href="{% url "shop-show-item" item.id %}">{{ item.name }}</a>
            <div class="basket_buttons">
                <a class="btn btn-success" href="{% url "shop-purchase-item" item.id %}">Buy</a>
                <a class="btn btn-danger" href="{% url "shop-delete-from-basket" item.id %}">Delete</a>
            </div>
        {% endfor %}
    {% else %}
        <h1>Your basket is empty.</h1>
    {% endif %}
    </div>
{% endblock content %}