{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Create
{% endblock title %}

{% block content %}
<h2>Create page</h2>

<form method="post" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.name|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form.category|as_crispy_field }}
        </div>
    </div>
    {{ form.description|as_crispy_field }}

    <div class="row">
        <div class="col-2">
            {{ form.price|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form.image|as_crispy_field }}
        </div>
    </div>
    <button type="submit" name="create" class="btn btn-success">Create</button>
</form>
{% endblock content %}