{% extends "shop/base.html" %}
{% load auth_extras %}
{% block title %}
    Edit
{% endblock title %}

{% block content %}
    <div>
    <form name="deleting" method="POST">
        <table class="table">
        <tr>
            <th scope="col"><h2>Id</h2></th>
            <th scope="col"><h2>Name</h2></th>
        </tr>
            {% for item in items %}
                <tr>
                    <th scope="row"><h3>{{ item.id }}</h3></th>
                    <td><h2>{{ item.name }}</h2></td>
                    <td><a href="{% url "shop-edit-item" item.id %}" class="btn btn-warning">Edit</a></td>
                    {% if user|has_group:"admin" %}
                        <td><a href="{% url "shop-delete-item" item.id %}" class="btn btn-danger">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock content %}