{% extends "shop/base.html" %}
{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="main_show_items">
    {% for item in items %}
        <img src="/media/{{ item.image }}" alt="{{ item.name }}" class="img-thumbnail">
        <h3><a class="item_links" href="{% url "shop-show-item" item.id %}">{{ item.name }}</a></h3>
    {% endfor %}
    </div>
{% endblock content %}