{% extends "shop/base.html" %}
{% block title %}
    Groups
{% endblock title %}

{% block content %}
    <div class="show_groups">
    {% for group in groups %}
        <h4>{{ group }}</h4>
    {% endfor %}
    </div>
{% endblock content %}